# Pandas
- Built on top of NumPy
- DataFrame = tabular data structure containing an ordered collection of columns, each of which can have a different data type
- Very similar functionality to R data frame

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
from sklearn.datasets import load_iris

# Load iris data into a data frame

In [4]:
iris = load_iris()

In [5]:
df = pd.DataFrame(iris.data, columns=iris.feature_names)

# Basic data frame info
- number of rows and columns
- data types
- head and tail
- basic stats
- column names

In [6]:
df.shape

(150, 4)

In [7]:
df.dtypes

sepal length (cm)    float64
sepal width (cm)     float64
petal length (cm)    float64
petal width (cm)     float64
dtype: object

In [8]:
df.head(10)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
5                5.4               3.9                1.7               0.4
6                4.6               3.4                1.4               0.3
7                5.0               3.4                1.5               0.2
8                4.4               2.9                1.4               0.2
9                4.9               3.1                1.5               0.1

In [9]:
df.tail(10)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
140                6.7               3.1                5.6               2.4
141                6.9               3.1                5.1               2.3
142                5.8               2.7                5.1               1.9
143                6.8               3.2                5.9               2.3
144                6.7               3.3                5.7               2.5
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [10]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [11]:
df.columns

Index([u'sepal length (cm)', u'sepal width (cm)', u'petal length (cm)',
       u'petal width (cm)'],
      dtype='object')

# Subsetting
- picking out columns
- picking out rows and columns using iloc
- subsetting on a conditional

In [12]:
df['sepal length (cm)'].head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal length (cm), dtype: float64

In [13]:
df.iloc[1:-140,1:]

   sepal width (cm)  petal length (cm)  petal width (cm)
1               3.0                1.4               0.2
2               3.2                1.3               0.2
3               3.1                1.5               0.2
4               3.6                1.4               0.2
5               3.9                1.7               0.4
6               3.4                1.4               0.3
7               3.4                1.5               0.2
8               2.9                1.4               0.2
9               3.1                1.5               0.1

In [14]:
df_long = df[df['sepal length (cm)'] > 6.0][['sepal width (cm)', 'sepal length (cm)']]

In [15]:
df_long.head()

    sepal width (cm)  sepal length (cm)
50               3.2                7.0
51               3.2                6.4
52               3.1                6.9
54               2.8                6.5
56               3.3                6.3

In [16]:
df_long.index.unique()

array([ 50,  51,  52,  54,  56,  58,  63,  65,  68,  71,  72,  73,  74,
        75,  76,  77,  86,  87,  91,  97, 100, 102, 103, 104, 105, 107,
       108, 109, 110, 111, 112, 115, 116, 117, 118, 120, 122, 123, 124,
       125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137,
       139, 140, 141, 143, 144, 145, 146, 147, 148])

# Correlations

In [17]:
df['sepal length (cm)'].corr(df['sepal width (cm)'])

-0.10936924995064935

In [18]:
df.corr()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
sepal length (cm),1.000000,-0.109369,0.871754,0.817954
sepal width (cm),-0.109369,1.000000,-0.420516,-0.356544
petal length (cm),0.871754,-0.420516,1.000000,0.962757
petal width (cm),0.817954,-0.356544,0.962757,1.000000

# Functions and adding columns
- vectorized operations
- apply()
- creating new categorical variables

In [19]:
df['sepal ratio'] = df['sepal length (cm)']/df['sepal width (cm)']

In [20]:
def half(x):
    return x/2.0

In [21]:
df['half petal length (cm)'] = df['petal length (cm)'].apply(half)

In [22]:
df['sepal length (cm)'] > 6.0

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
120     True
121    False
122     True
123     True
124     True
125     True
126     True
127     True
128     True
129     True
130     True
131     True
132     True
133     True
134     True
135     True
136     True
137     True
138    False
139     True
140     True
141     True
142    False
143     True
144     True
145     True
146     True
147     True
148     True
149    False
Name: sepal length (cm), dtype: bool

In [23]:
df['sepal length'] = np.where(df['sepal length (cm)'] > 6.0, 'long', 'short')

In [24]:
df['sepal length'] = df['sepal length'].astype('category')

In [25]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal ratio,half petal length (cm),sepal length
0,5.1,3.5,1.4,0.2,1.457143,0.70,short
1,4.9,3.0,1.4,0.2,1.633333,0.70,short
2,4.7,3.2,1.3,0.2,1.468750,0.65,short
3,4.6,3.1,1.5,0.2,1.483871,0.75,short
4,5.0,3.6,1.4,0.2,1.388889,0.70,short

In [26]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal ratio,half petal length (cm)
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667,1.955144,1.879333
std,0.828066,0.433594,1.764420,0.763161,0.398697,0.882210
min,4.300000,2.000000,1.000000,0.100000,1.268293,0.500000
25%,5.100000,2.800000,1.600000,0.300000,1.551915,0.800000
50%,5.800000,3.000000,4.350000,1.300000,2.032292,2.175000
75%,6.400000,3.300000,5.100000,1.800000,2.224910,2.550000
max,7.900000,4.400000,6.900000,2.500000,2.961538,3.450000

# Sorting
- note "inplace=True"
- note differences between iloc and loc

In [27]:
df.sort_values('sepal length (cm)', inplace=True, ascending=True)

In [28]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal ratio,half petal length (cm),sepal length
13,4.3,3.0,1.1,0.1,1.433333,0.55,short
42,4.4,3.2,1.3,0.2,1.375000,0.65,short
38,4.4,3.0,1.3,0.2,1.466667,0.65,short
8,4.4,2.9,1.4,0.2,1.517241,0.70,short
41,4.5,2.3,1.3,0.3,1.956522,0.65,short

In [29]:
df.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal ratio,half petal length (cm),sepal length
122,7.7,2.8,6.7,2.0,2.750000,3.35,long
118,7.7,2.6,6.9,2.3,2.961538,3.45,long
117,7.7,3.8,6.7,2.2,2.026316,3.35,long
135,7.7,3.0,6.1,2.3,2.566667,3.05,long
131,7.9,3.8,6.4,2.0,2.078947,3.20,long

In [30]:
df.iloc[[13]]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal ratio,half petal length (cm),sepal length
24,4.8,3.4,1.9,0.2,1.411765,0.95,short

In [31]:
df.loc[[13]]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal ratio,half petal length (cm),sepal length
13,4.3,3.0,1.1,0.1,1.433333,0.55,short

In [32]:
df.iloc[13:15]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal ratio,half petal length (cm),sepal length
24,4.8,3.4,1.9,0.2,1.411765,0.95,short
11,4.8,3.4,1.6,0.2,1.411765,0.80,short

In [33]:
df.loc[13:15]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal ratio,half petal length (cm),sepal length
13,4.3,3.0,1.1,0.1,1.433333,0.55,short
42,4.4,3.2,1.3,0.2,1.375000,0.65,short
38,4.4,3.0,1.3,0.2,1.466667,0.65,short
8,4.4,2.9,1.4,0.2,1.517241,0.70,short
41,4.5,2.3,1.3,0.3,1.956522,0.65,short
22,4.6,3.6,1.0,0.2,1.277778,0.50,short
3,4.6,3.1,1.5,0.2,1.483871,0.75,short
6,4.6,3.4,1.4,0.3,1.352941,0.70,short
47,4.6,3.2,1.4,0.2,1.437500,0.70,short
2,4.7,3.2,1.3,0.2,1.468750,0.65,short
29,4.7,3.2,1.6,0.2,1.468750,0.80,short
12,4.8,3.0,1.4,0.1,1.600000,0.70,short
45,4.8,3.0,1.4,0.3,1.600000,0.70,short
24,4.8,3.4,1.9,0.2,1.411765,0.95,short
11,4.8,3.4,1.6,0.2,1.411765,0.80,short
30,4.8,3.1,1.6,0.2,1.548387,0.80,short
57,4.9,2.4,3.3,1.0,2.041667,1.65,short
106,4.9,2.5,4.5,1.7,1.960000,2.25,short
34,4.9,3.1,1.5,0.1,1.580645,0.75,short
9,4.9,3.1,1.5,0.1,1.580645,0.75,short
37,4.9,3.1,1.5,0.1,1.580645,0.75,short
1,4.9,3.0,1.4,0.2,1.633333,0.70,short
40,5.0,3.5,1.3,0.3,1.428571,0.65,short
26,5.0,3.4,1.6,0.4,1.470588,0.80,short
49,5.0,3.3,1.4,0.2,1.515152,0.70,short
35,5.0,3.2,1.2,0.2,1.562500,0.60,short
43,5.0,3.5,1.6,0.6,1.428571,0.80,short
60,5.0,2.0,3.5,1.0,2.500000,1.75,short
7,5.0,3.4,1.5,0.2,1.470588,0.75,short
93,5.0,2.3,3.3,1.0,2.173913,1.65,short
...,...,...,...,...,...,...,...
21,5.1,3.7,1.5,0.4,1.378378,0.75,short
19,5.1,3.8,1.5,0.3,1.342105,0.75,short
32,5.2,4.1,1.5,0.1,1.268293,0.75,short
28,5.2,3.4,1.4,0.2,1.529412,0.70,short
27,5.2,3.5,1.5,0.2,1.485714,0.75,short
59,5.2,2.7,3.9,1.4,1.925926,1.95,short
48,5.3,3.7,1.5,0.2,1.432432,0.75,short
84,5.4,3.0,4.5,1.5,1.800000,2.25,short
5,5.4,3.9,1.7,0.4,1.384615,0.85,short
20,5.4,3.4,1.7,0.2,1.588235,0.85,short
31,5.4,3.4,1.5,0.4,1.588235,0.75,short
10,5.4,3.7,1.5,0.2,1.459459,0.75,short
16,5.4,3.9,1.3,0.4,1.384615,0.65,short
36,5.5,3.5,1.3,0.2,1.571429,0.65,short
90,5.5,2.6,4.4,1.2,2.115385,2.20,short
33,5.5,4.2,1.4,0.2,1.309524,0.70,short
53,5.5,2.3,4.0,1.3,2.391304,2.00,short
81,5.5,2.4,3.7,1.0,2.291667,1.85,short
80,5.5,2.4,3.8,1.1,2.291667,1.90,short
89,5.5,2.5,4.0,1.3,2.200000,2.00,short
88,5.6,3.0,4.1,1.3,1.866667,2.05,short
121,5.6,2.8,4.9,2.0,2.000000,2.45,short
66,5.6,3.0,4.5,1.5,1.866667,2.25,short
69,5.6,2.5,3.9,1.1,2.240000,1.95,short
94,5.6,2.7,4.2,1.3,2.074074,2.10,short
64,5.6,2.9,3.6,1.3,1.931034,1.80,short
79,5.7,2.6,3.5,1.0,2.192308,1.75,short
96,5.7,2.9,4.2,1.3,1.965517,2.10,short
99,5.7,2.8,4.1,1.3,2.035714,2.05,short
15,5.7,4.4,1.5,0.4,1.295455,0.75,short

# Dropping rows with missing data
(This data set does not have any missing data)

In [34]:
df.dropna()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),sepal ratio,half petal length (cm),sepal length
13,4.3,3.0,1.1,0.1,1.433333,0.55,short
42,4.4,3.2,1.3,0.2,1.375000,0.65,short
38,4.4,3.0,1.3,0.2,1.466667,0.65,short
8,4.4,2.9,1.4,0.2,1.517241,0.70,short
41,4.5,2.3,1.3,0.3,1.956522,0.65,short
22,4.6,3.6,1.0,0.2,1.277778,0.50,short
3,4.6,3.1,1.5,0.2,1.483871,0.75,short
6,4.6,3.4,1.4,0.3,1.352941,0.70,short
47,4.6,3.2,1.4,0.2,1.437500,0.70,short
2,4.7,3.2,1.3,0.2,1.468750,0.65,short
29,4.7,3.2,1.6,0.2,1.468750,0.80,short
12,4.8,3.0,1.4,0.1,1.600000,0.70,short
45,4.8,3.0,1.4,0.3,1.600000,0.70,short
24,4.8,3.4,1.9,0.2,1.411765,0.95,short
11,4.8,3.4,1.6,0.2,1.411765,0.80,short
30,4.8,3.1,1.6,0.2,1.548387,0.80,short
57,4.9,2.4,3.3,1.0,2.041667,1.65,short
106,4.9,2.5,4.5,1.7,1.960000,2.25,short
34,4.9,3.1,1.5,0.1,1.580645,0.75,short
9,4.9,3.1,1.5,0.1,1.580645,0.75,short
37,4.9,3.1,1.5,0.1,1.580645,0.75,short
1,4.9,3.0,1.4,0.2,1.633333,0.70,short
40,5.0,3.5,1.3,0.3,1.428571,0.65,short
26,5.0,3.4,1.6,0.4,1.470588,0.80,short
49,5.0,3.3,1.4,0.2,1.515152,0.70,short
35,5.0,3.2,1.2,0.2,1.562500,0.60,short
43,5.0,3.5,1.6,0.6,1.428571,0.80,short
60,5.0,2.0,3.5,1.0,2.500000,1.75,short
7,5.0,3.4,1.5,0.2,1.470588,0.75,short
93,5.0,2.3,3.3,1.0,2.173913,1.65,short
...,...,...,...,...,...,...,...
58,6.6,2.9,4.6,1.3,2.275862,2.30,long
75,6.6,3.0,4.4,1.4,2.200000,2.20,long
86,6.7,3.1,4.7,1.5,2.161290,2.35,long
140,6.7,3.1,5.6,2.4,2.161290,2.80,long
108,6.7,2.5,5.8,1.8,2.680000,2.90,long
77,6.7,3.0,5.0,1.7,2.233333,2.50,long
65,6.7,3.1,4.4,1.4,2.161290,2.20,long
144,6.7,3.3,5.7,2.5,2.030303,2.85,long
145,6.7,3.0,5.2,2.3,2.233333,2.60,long
124,6.7,3.3,5.7,2.1,2.030303,2.85,long
143,6.8,3.2,5.9,2.3,2.125000,2.95,long
76,6.8,2.8,4.8,1.4,2.428571,2.40,long
112,6.8,3.0,5.5,2.1,2.266667,2.75,long
139,6.9,3.1,5.4,2.1,2.225806,2.70,long
141,6.9,3.1,5.1,2.3,2.225806,2.55,long
52,6.9,3.1,4.9,1.5,2.225806,2.45,long
120,6.9,3.2,5.7,2.3,2.156250,2.85,long
50,7.0,3.2,4.7,1.4,2.187500,2.35,long
102,7.1,3.0,5.9,2.1,2.366667,2.95,long
129,7.2,3.0,5.8,1.6,2.400000,2.90,long
125,7.2,3.2,6.0,1.8,2.250000,3.00,long
109,7.2,3.6,6.1,2.5,2.000000,3.05,long
107,7.3,2.9,6.3,1.8,2.517241,3.15,long
130,7.4,2.8,6.1,1.9,2.642857,3.05,long
105,7.6,3.0,6.6,2.1,2.533333,3.30,long
122,7.7,2.8,6.7,2.0,2.750000,3.35,long
118,7.7,2.6,6.9,2.3,2.961538,3.45,long
117,7.7,3.8,6.7,2.2,2.026316,3.35,long
135,7.7,3.0,6.1,2.3,2.566667,3.05,long
131,7.9,3.8,6.4,2.0,2.078947,3.20,long

# Splitting data frame in half

In [35]:
df1,df2 = np.array_split(df, 2)

In [36]:
df1.shape

(75, 7)

In [37]:
df2.shape

(75, 7)

# Groupby

In [38]:
grouped = df.groupby('sepal length')

In [39]:
grouped.groups['long']

[127,
 134,
 71,
 63,
 73,
 91,
 68,
 97,
 148,
 126,
 72,
 123,
 146,
 56,
 133,
 100,
 87,
 136,
 103,
 132,
 128,
 137,
 51,
 115,
 74,
 111,
 104,
 116,
 147,
 54,
 110,
 58,
 75,
 86,
 140,
 108,
 77,
 65,
 144,
 145,
 124,
 143,
 76,
 112,
 139,
 141,
 52,
 120,
 50,
 102,
 129,
 125,
 109,
 107,
 130,
 105,
 122,
 118,
 117,
 135,
 131]

In [40]:
grouped['petal length (cm)'].agg(['count','min','max','mean'])

              count  min  max      mean
sepal length
long             61  4.0  6.9  5.322951
short            89  1.0  5.1  2.686517

In [41]:
df.groupby(['sepal length', 'sepal width (cm)'])['petal length (cm)'].mean()

sepal length  sepal width (cm)
long          2.2                 4.500000
              2.3                 4.400000
              2.5                 5.233333
              2.6                 6.250000
              2.7                 5.100000
              2.8                 5.200000
              2.9                 4.966667
              3.0                 5.423077
              3.1                 5.085714
              3.2                 5.314286
              3.3                 5.525000
              3.4                 5.500000
              3.6                 6.100000
              3.8                 6.550000
short         2.0                 3.500000
              2.2                 4.500000
              2.3                 2.866667
              2.4                 3.600000
              2.5                 4.080000
              2.6                 3.966667
              2.7                 4.485714
              2.8                 4.650000
              2.9                 3.425000
              3.0                 3.046154
              3.1                 1.520000
              3.2                 1.933333
              3.3                 1.550000
              3.4                 1.860000
              3.5                 1.416667
              3.6                 1.200000
              3.7                 1.500000
              3.8                 1.675000
              3.9                 1.500000
              4.0                 1.200000
              4.1                 1.500000
              4.2                 1.400000
              4.4                 1.500000
Name: petal length (cm), dtype: float64

# Merging data frames
- like SQL joins
- "how" denotes type of join
- if "on" is not specified, defaults to common columns

In [42]:
df1 = pd.DataFrame({'A': [1,2,3], 'B': [1,2,3]})

In [43]:
df2 = pd.DataFrame({'A': [3,4,5], 'C': [1,2,3]})

In [44]:
df1.head()

   A  B
0  1  1
1  2  2
2  3  3

In [45]:
df2.head()

   A  C
0  3  1
1  4  2
2  5  3

In [46]:
df1.merge(df2, on='A')

   A  B  C
0  3  3  1

In [47]:
df1.merge(df2, how='left')

   A  B    C
0  1  1  NaN
1  2  2  NaN
2  3  3  1.0

In [48]:
df1.merge(df2, how='outer')

     A    B    C
0  1.0  1.0  NaN
1  2.0  2.0  NaN
2  3.0  3.0  1.0
3  4.0  NaN  2.0
4  5.0  NaN  3.0